%h1 Listing seasons

%table
  %thead
    %tr
      %th Name
      %th Active from
      %th Active to
      %th
      %th
      %th

  %tbody
    - @seasons.each do |season|
      %tr
        %td= season.name
        %td= season.active_from
        %td= season.active_to
        %td= link_to 'Show', [:admin, season]
        %td= link_to 'Edit', edit_admin_season_path(season)
        %td= link_to 'Destroy', [:admin, season], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Season', new_admin_season_path
