%h1 Listing teams

%table
  %thead
    %tr
      %th Name
      %th Slug
      %th Actions

  %tbody
    - @teams.each do |team|
      %tr
        %td= team.name
        %td= team.slug
        %td
          = link_to 'Members', admin_team_members_url(team)
          = link_to 'Show', [:admin, team]
          = link_to 'Edit', edit_admin_team_path(team)
          = link_to 'Destroy', [:admin, team], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team', new_admin_team_path
